@{
    ViewData["Title"] = "Add A Movie";
}

@model mission_six_movie_db.Models.MovieFormResponse


@*movie form html*@ 
<div class="text-center">
    <h1 class="display-4">Add A Movie</h1>
    <div>
        <form method="post" role="form">
            <div class="form-group">
                <div asp-validation-summary="All"></div>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId">Category: </label>
                <select asp-for="CategoryId" required>
                    <option value=""> Select a Category</option>
                    @foreach (Category c in ViewBag.Categories)
                    {
                        <option value="@c.CatId">@c.CategoryName</option>

                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Title">Movie Title: </label>
                <input asp-for="Title" required />
            </div>
            <div class="form-group">
                <label asp-for="Year">Year: </label>
                <input asp-for="Year" required />
            </div>
            <div class="form-group">
                <label asp-for="Director">Director: </label>
                <input asp-for="Director" required />
            </div>
            <div class="form-group">
                <label asp-for="Rating">Rating: </label>
                <select asp-for="Rating" required>
                    <option value="G">G</option>
                    <option value="PG">PG</option>
                    <option value="PG-13">PG-13</option>
                    <option value="R">R</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Edited"> Edited? </label><br />
                <label for="True">True</label>
                @Html.RadioButton("Edited", "True")
                <label for="False">False</label>
                @Html.RadioButton("Edited", "False")
            </div>
            <div class="form-group">
                <label asp-for="LentTo">Lent To: </label>
                <input asp-for="LentTo" />
            </div>
            <div class="form-group">
                <label asp-for="Notes">Notes: </label>
                <input asp-for="Notes" />
            </div>
                <button type="submit">Add To Collection</button>
        </form>
    </div>
</div>
