@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

@* about page with image*@
<div class="text-center">
    <h1 class="display-4">The Joel Hilton Film Collection</h1>
    <img src="~/img/joel_hilton_img.jpg" width=200 />
    <p>
        Welcome to Joel Hilton's Movie Database. Joel is into film, in fact, he minored in
        Film Studies at BYU, contracts as a movie reviewer for ClearPlay, and does a weekly podcast
        with a couple friends about movies called Baconsale. Only movies deemed worthy make it into this collection.
        Enjoy!
    </p>
</div>
