@{
    ViewData["Title"] = "Baconsale Podcast";
}

@*podcast page with link*@ 
<h1><a href="https://baconsale.com/">@ViewData["Title"]</a></h1>

<p>A comedian who likes movies and a movie critic who is sometimes funny discuss movies, music, television shows, video games and other pop culture topics in this podcast hosted by Joel.</p>
 